---
---

.main-oobguy-container {
  max-height: 100%;
  max-width: 100%;
  padding-top: 20px;
}

.main-oobguy {
  display: block;
  margin: auto;
}

.navbar {
  box-shadow: none;
}

.wrapper {
  padding-top: 70px;
}

.blog {
  margin: 0;
  width: 100%;
}

.blog h1 {
  text-align: center;
}

.blog ul {
  max-width: 360px;
  margin-right: auto;
  margin-left: auto;
  list-style-type: none;
}

.blog ul li {
  white-space: nowrap;
  overflow: visible;
}

.post, .about, .contact {
  max-width: 800px;
  margin-right: auto;
  margin-left: auto;
}

.about h1, .contact h1 {
  text-align: center;
}

.nav-link {
  text-transform: uppercase;
}